body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  html {
    height: 100%;
  }
  
  #app {
    height: 100%;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  a,
  a:focus,
  a:hover {
    color: inherit;
    outline: none;
    text-decoration: none;
  }
  
  div:focus {
    outline: none;
  }


/* 修改elemenui全局样式 */

  /* 修改input样式 */
	.el-input{
		height: 32px;
		line-height: 32px;
		border-radius: 6px;
	}
	.el-input--small .el-input__inner{
		height: 32px;
		line-height: 32px;
	}
	.el-input__icon{
		position: relative;
		height: 32px;
		line-height: 32px;
	}

	.el-date-editor .el-range-separator {
		line-height: 24px;
	}
	/* 修改input样式 */

	/* 修改table样式 */
	.el-table{
		border: 1px solid #e1e3ec;
		border-radius: 6px;
		margin-top: 10px;
	}
	.el-table thead th>.cell {
		font-weight: 600;
		color: #1d2023;
		font-size: 14px;
	}
	/* 修改table样式 */
/* 修改elemenui全局样式 */

/* 单表格页面 */
/* .tablePage{
	background-color: white;
	height: 100%;
	border-radius: 6px;
} */

/* 分页样式 */
.pagesContent{
	display: flex;
	justify-content: flex-end;
}
.page_total,.page_size{
	display: inline-block;
	font-size: 13px;
	font-weight: 400;
	margin-right: 10px;
	line-height: 34px;
	color: #606266;
}

/* 设置滚动条的宽度 */
.el-table__body-wrapper::-webkit-scrollbar {
  width: 6px !important;
}
/* 设置滚动条的背景色和圆角 */
.el-table__body-wrapper::-webkit-scrollbar-thumb  {
  background-color: rgb(200,201,204,0.5);
  border-radius: 4px !important;
}
.primary-org{
  display: inline-flex;
	align-items: center;
	justify-content: center;
  width: 32px;
  height: 17px;
  background: rgba(255,134,0,.1);
  border-radius: 2px;
  color:#FF9826;
  text-align: center;
  transform: translateX(10px);
  font-size: 14px;
}
.el-button--small{
	padding: 14px 11px;
}
.tooltip{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.el-form-item--default{
	margin-bottom:20px !important;
}
/**/
.headerTitle{
	margin-right:10px;
}
.infoLabel {
	color: black;
	font-size: 14px;
	font-weight: bold;
}
/*滚动条宽度*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
/*滚动条里面小方块*/
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(10, 10, 10, 0.2);
  background: rgba(144,147,153,.3);
}
/*滚动条里面轨道*/
::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); */
  border-radius: 0;
  background: transparent;
}